/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  background: #ffffff;
  position: relative;
  /* margin: 5%;
  left: 10%; */
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
}

.btn {
  background-color: #63D995;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.uppercase {
  text-transform: uppercase;
}

.align{
  text-align: center;
}

.white{
  color: #ffffff;
}

footer {
  background: #373b47;
    position: relative;
    float: right;
    width: 100%;
    height: 20%;
}

.lap {
  display: block;
  margin: auto;
}

.box-pink {
  background: #f17c72;
  width: 100%;
}

.home{
  background-image: url("../assets/images/bg-home.jpg");
  background-size: auto;
}

.title{
  font-size: 250%;
  padding-top: 5%;
}

.servimg{
  width: 20%;
  height: 20%;
  margin-left: 9%;
  margin-top: 3%;
}

.container-img{
  margin-left: 5%;
  margin-top: 2%;
}

.lap{
  width: 75%;
  height: 30%;
  margin-top: 2%;
}

.work{
  width: 25%;
  height: 15%;
  margin-left: 3%;
  margin-top: 3%;
}

.set{
  margin-left: 9%;
  margin-top: 2%;
}

.logo{
  width: 5%;
  height: 5%;
  margin-left: 85%;
}

